.topBarContainer {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 23%;
  z-index: 5000;
}
.inputAddress {
  width: 100%;
  float: right;
  padding-right: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  line-height: 2.5;
  background: #fff url(../assets/img/menu.svg) no-repeat 98% center;
}
