.topBarContainer {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 23%;
  z-index: 5000;
}
.addressContainer {
  position: relative;
}
.addressValue {
  background: #fff;
  width: 100%;
  padding-right: 45px;
  text-align: right;
  outline: none;
  border-radius: 10px;
  line-height: 2.5;
}
.btnAddress {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  top: 7px;
  z-index: 30;
}
